<div class="container">
  <h1 *ngIf="currentUser && currentUser.username">Username: {{currentUser.username}}</h1>

  <form [formGroup]="donationForm" style="width: 40%; margin: 0 auto">

    <div style="display: flex; justify-content: space-between">
      <div style="width: 48%;">
        <mat-form-field class="example-full-width">
          <mat-label>Sender name</mat-label>
          <input matInput formControlName="sender_name" autocomplete="off">
        </mat-form-field>
      </div>
      <div style="width: 48%;">
        <mat-form-field class="example-full-width">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" autocomplete="off">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" placeholder="Message text here"></textarea>
      </mat-form-field>
    </div>
      <button mat-raised-button color="accent" (click)="donate()">Donate</button>
  </form>
</div>

<div *ngIf="isDonated">
  <div class="donation-alert">
    <h1 mat-dialog-title>Successfully Donated!</h1>
    <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
    <br>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close style="margin: 0;" (click)="close()">Close</button>
    </div>
  </div>
  <div class="background"></div>
</div>

